<section class="ads-banner" style="justify-content:space-between;margin:0 auto;padding:1vw 0 2vw;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- test -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4185712939927196"
     data-ad-slot="2769259105"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</section>
