<section class="money-button" style="justify-content:space-between;margin:0 auto;padding:1vw 0 2vw;">
<!-- This line should go where you want to put your button -->
<div class="money-button"
  data-to="2981"
  data-amount="1"
  data-currency="USD"
  data-label="Coffee?"
  data-client-identifier="7d021308a7b6644a898fbe196a0698f1"
  data-button-id="1559239740985"
  data-button-data="{}"
  data-type="tip"
></div>
<!-- This line can go anywhere -->
<script src="https://www.moneybutton.com/moneybutton.js"></script>
</section>
